@import "variables";

.greeting {
  margin: 1em 0 0.5em 1em;
}

.search-container {
  @include FlexCenter;
}

.search {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 1em;
  width: 20%;
  max-width: 950px;
  &::placeholder {
    color: $accent-color;
    opacity: 0.8;
  }
  border-radius: 15px;
  border: 2px solid $accent-color;
  transition-duration: 700ms;
  transition-timing-function: ease;
}

.search:focus {
  border: solid 3px $accent-color;
  width: 90%;
  outline: none;
}
